{% extends 'layout/base.html' %}

{% block content %}
{% include 'components/navigation.html' %}
<div class="container">
    <h2 class="mt-4">Admin Title</h2>
    <div class="card mt-4">
      <h5 class="card-header">
        <div class="row align-items-center">
          <label for="edit-coffee" class="col-auto col-form-label">Edit</label>
          <form class="col" method="POST" action="/admin/select-coffee" id="selectForm">
            <select class="form-select" id="edit-coffee" aria-label="Edit Coffee" onchange="onSelectCoffee()" name="coffeeControl">
              {% for coffee in coffeeList %}
              <option value="{{coffee}}">{{coffee.product_name}}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      </h5>
      <div class="card-body">
        <form class="row g-3">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Coffee Name" aria-label="Name" name="coffeeName">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Origin" aria-label="Origin" name="origin">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Taste" aria-label="Taste" name="taste">
          </div>
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text" id="price-addon">£</span>
              <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="price-addon" name="price">
            </div>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}