{% extends 'layout/base.html' %}

{% block content %}
{% include 'components/navigation.html' %}
<div class="banner-wrapper">
  <div class="banner-text">Welcome to Hoffi Coffi</div>
  <img src="static/images/coffee.jpg" alt="Picture of coffee" width="100%" height="100%" class="banner-image">
</div>
<!--Welcome Paragraph-->
<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <p class=>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<!--Coffee Selection-->
<div class="container">
  <div class="row g-5">
    {% for coffee in coffeeList %}
    <div class="col-lg-4 col-md-6">
      <div class="card coffee-card">
        {% if coffee.image_url %}
        <img src="{{coffee.image_url}}" class="card-img-top" alt="{{coffee.product_name}}">
        {% else %}
        <img src="static/images/indonesian-sumatra.jpg" class="card-img-top" alt="Coffee Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{coffee.product_name}}</h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Orgin - {{coffee.origin}}</li>
          <li class="list-group-item">Taste - {{coffee.taste}}</li>
          <li class="list-group-item">Price - £{{coffee.price}}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="card mt-5" style="width: 640px; max-width: 100%; margin: auto;">
    <h5 class="card-header">Contact Us</h5>
    <div class="card-body">
      <form class="row g-3" id="contactForm">
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="user_name" id="user_name">
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Email" aria-label="Email" name="user_email " id="user_email">
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" name="user_phone" id="user_phone">
        </div>
        <div class="col-12">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" rows="3" name="message" id="message"></textarea>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
          <button type="button" class="btn btn-primary" id="contactSubmitButton" onclick="submitContactForm()">Submit</button>
        </div>
      </form>
    </div>
    <div id="contactAlert" style="padding: 8px 12px 0;"></div>
  </div>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-5 ps-5 pe-5 sticky-bottom">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img src="static/images/logo.png" alt="logo" width="60" height="auto">
    </a>
    <span class="text-muted">© 2021 Hoffi Coffi</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-muted" href="https://twitter.com">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://instagram.com">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://facebook.com">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
  </ul>
</footer>
{% endblock %}