{% extends 'layout/base.html' %}

{% block content %}
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">Coffee</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
      <li><a href="#">Home</a></li>
      <li><a href="#">Coffee</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Logout</a></li>
</ul>
{% endblock %}