{% extends 'layout/base.html' %}

{% block content %}
{% include 'components/navigation.html' %}
<!--Login form-->
<div class="container mt-5">
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label" required>Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-5 ps-5 pe-5 sticky-bottom">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img src="static/images/logo.png" alt="logo" width="60" height="auto">
    </a>
    <span class="text-muted">© 2021 Hoffi Coffi</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-muted" href="https://twitter.com">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://instagram.com">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://facebook.com">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
  </ul>
</footer>
{% endblock %}